# Git e venv
.git
.venv

# Cache Python
__pycache__
*.pyc
*.pyo
*.pyd

# Log e file temporanei
*.log

# VS Code e tool vari
.vscode
.pytest_cache
.ipynb_checkpoints


training/
data/
notebooks/
models/
